<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/v_logo"
        android:label="Veduka"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <!-- Add API Key inside application tag -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdoLY3S0yROcucRmhxOh7DCYo25JT-fJw"/>

        <activity android:name=".MainActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".UserRoleActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".OrganizerDashboardActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".BookingActivity"
            android:exported="false" />
        <activity android:name=".BookingConfirmedActivity"/>
        <activity android:name=".YourBookingsActivity" />
        <activity android:name=".BookingDetailsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".VFeedbackActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".CurrentBookingsActivity" />
        <activity android:name=".OrganizerApprovalsPendingActivity" />


        <!-- Google Sign-In Activity -->
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
